<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
--><link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
    <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }
      :host {
        display: block;
        padding: 10px;
      }
      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--accent-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-top: 15px;
        padding: 1.5%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      .welcome {
        min-height: 60px;
        margin:10px 10px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url('../../images/logo4.png');
      }

      .emailTest {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 18px;
        font-weight: lighter;
      }

      .separator {
        margin: 0 10px;
        font-size: 14px;
        font-weight: lighter;
        color: #aaa;
        border-top: 1px solid var(--divider-color);
      }
      .separator span {
        padding-top: 10px;
        padding-left: 16px;
        display:block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        background-color: var(--dark-primary-color);
        color: var(--text-primary-color);
      }

      app-header paper-icon-button, app-header a {
        --paper-icon-button-ink-color: white;
        text-decoration: none;
        color: white;
      }

     paper-item {
        cursor: pointer;
     }

     paper-listbox a {
        text-decoration: none;
        color: #212121;
     }
     paper-listbox a paper-item.iron-selected {
        font-weight: bold;
        background-color: #eeeeee;
     }

    </style>
  </template>
</dom-module>