<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<link rel="import " href="../my-icons.html ">

<link rel="import " href="../style/shared-styles.html ">

<dom-module id="case-preview-card">

    <template>
        
        <style>

        paper-card {
            width: 400px;
            position: relative;
            margin-bottom: 20px;
            margin-right: 10px;
            margin-left: 10px;
            overflow: hidden;
            --paper-card-header-image:{
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                height: 256px;
                -o-object-fit: cover;
                    object-fit: cover;
                -webkit-filter: grayscale(.7);
                filter: grayscale(.7);
            };
        }

        paper-card:hover {
            @apply --shadow-elevation-12dp
        }

        iron-image {
            overflow: hidden;
            height: 256px;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            -o-object-fit: cover;
            object-fit: cover;
            -webkit-filter: grayscale(.7);
            filter: grayscale(.7);
        }

        paper-card:hover iron-image{
            -webkit-filter: none;
            filter: none;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            -webkit-transform: scale(1.15);
            -ms-transform: scale(1.15);
                transform: scale(1.15);
        }

        @media (max-width: 300px) {
            paper-card {
            width: 100%;
            }
        }

        .cafe-header {
            @apply --paper-font-headline;
        }

        .cafe-light {
            color: var(--paper-grey-600);
        }

        .cafe-location {
            float: right;
            font-size: 15px;
            vertical-align: middle;
        }
        
        .card-content {
            padding-bottom: 0;
        }

        .card-actions a {
            cursor: auto;
            text-decoration: none;
        }
        .card-actions a paper-button {
            background-color: var(--default-primary-color);
            color: #fff;
            text-decoration:none;
        }

        </style>

        <paper-card class="case-preview-card">
            <div style="overflow:hidden">
                <iron-image style="width:400px; height:256px; background-color: lightgray;" sizing="cover" preload="" src="[[casePreview.cover]]">
                </iron-image>
            </div>

            <div class="card-content">

                <div class="cafe-header">[[casePreview.title]]
                    <div class="cafe-location cafe-light">
                    <template is="dom-if" if="{{casePreview.completed}}">
                        <iron-icon class="completed" icon="icons:done"></iron-icon>
                        <span class="completed">Completed</span>
                    </template>
                    <template is="dom-if" if="{{!casePreview.completed}}">
                        <iron-icon icon="icons:clear"></iron-icon>
                        <span>Not done</span>
                    </template>
                </div>
            </div>

            <p>Author・[[casePreview.author]]</p>
            <p class="cafe-light">[[casePreview.description]]</p>

            </div>

            <div class="card-actions">
                <a href="data/[[casePreview.id]]/">
                    <paper-button>View data</paper-button>
                </a>
                <a href="case/[[casePreview.id]]/">
                    <paper-button>Open atlas</paper-button>
                </a>
                <template is="dom-if" if="{{casePreview.image2}}">
                    <a href="compare/[[casePreview.id]]/">
                        <paper-button>Compare</paper-button>
                    </a>
                </template>
            </div>

        </paper-card>

    </template>

    <script>class CasePreviewCard extends Polymer.Element {
  static get is() {
    return 'case-preview-card';
  }

  static get properties() {
    return {
      casePreview: {
        type: Object,
        value: {}
      }
    };
  }

  constructor() {
    super();
  }

  ready() {
    super.ready();
  }

}

window.customElements.define(CasePreviewCard.is, CasePreviewCard);</script>

</dom-module>