<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<link rel="import " href="../my-icons.html ">
<link rel="import " href="../style/shared-styles.html ">

<dom-module id="contours-list-item">

    <template>
        
        <style include="shared-styles">

        .contour-item, .contour-item-all {
            @apply(--layout-horizontal);
        }

        .contour-item paper-checkbox, 
        .contour-item-all paper-checkbox {
            padding: 8px;
            margin-right: auto;
        }

        .contour-item iron-icon {
            padding: 8px;
            cursor: pointer;
            color: #767676;
        }

        paper-dialog.modal-contour {
            width: 350px;
        }
        paper-dialog.modal-contour > h2 {
            padding: 5px 30px;
        }
        paper-dialog.modal-contour > p {
            padding: 5px 30px;
            margin: 0;
        }

        </style>

        <div style="width:100%">
            
            <div class="separator"><span>[[title]]<span></span></span></div>

            <div class="contour-item-all">
                <paper-checkbox class="label" checked="{{allShow}}">
                    Show / hide all
                </paper-checkbox>
            </div>

            <div class="separator"></div>

            <template is="dom-repeat" items="{{contours}}" as="contour">

            <div class="contour-item" id="contour-{{contour.id}}" on-mouseover="_mouseOverContour" on-mouseout="_mouseOutContour">
                
                <paper-checkbox checked="{{contour.visible}}" on-tap="_onCheckContour">
                    <span style="color:{{contour.color}}">{{contour.label}}</span>
                </paper-checkbox>
                <template is="dom-if" if="{{contour.description}}">
                <iron-icon class="info" icon="icons:info" on-tap="_onContourInfo"></iron-icon>               
                </template>
            </div>

            </template>

    </div>

    <paper-dialog id="modalContourInfo" class="modal-contour">
        <h2 id="mciTitle"></h2>
        <p id="mciDescription"></p>
        <div class="buttons">
            <paper-button dialog-confirm="" autofocus="">Close</paper-button>
        </div>
    </paper-dialog>

    </template>

    <script>class ContoursListIem extends Polymer.Element {
  static get is() {
    return 'contours-list-item';
  }

  static get properties() {
    return {
      title: {
        type: String,
        value: "List of contours"
      },
      contours: {
        type: Array,
        value: []
      },
      allShow: {
        type: Boolean,
        value: true,
        observer: '_allShowChanged'
      }
    };
  }

  constructor() {
    super();
    this.stopPropagationAllShow = false;
  }

  ready() {
    super.ready();
  }

  _allShowChanged() {
    if (this.stopPropagationAllShow) return;

    for (let i = 0; i < this.contours.length; i++) {
      this.set('contours.' + i + '.visible', this.allShow);

      this._updateContourVisibled(i);
    }
  }

  _mouseOverContour(e) {
    var id = this._getContourId(e.target);

    this.set('contours.' + id + '.contour.selected', true);
  }

  _mouseOutContour(e) {
    var id = this._getContourId(e.target);

    this.set('contours.' + id + '.contour.selected', false);
  }

  _onContourInfo(e) {
    var id = this._getContourId(e.target);

    if (id === null) return;
    this.$.mciTitle.innerHTML = this._unescapeText(this.contours[id].label);
    this.$.mciDescription.innerHTML = this._unescapeText(this.contours[id].description);
    this.$.modalContourInfo.open();
  }

  _unescapeText(text) {
    let elem = document.createElement('textarea');
    elem.innerHTML = text;
    return elem.textContent;
  }

  _onCheckContour(e) {
    var id = this._getContourId(e.target);

    this._updateContourVisibled(id);

    if (this.stopPropagationAllShow) return;

    this._updateAllShow();
  }

  _updateAllShow() {
    let flag = true;

    for (let i = 0; i < this.contours.length && flag; i++) {
      flag = flag && this.contours[i].visible;
    }

    this.stopPropagationAllShow = true;
    this.set('allShow', flag);
    this.stopPropagationAllShow = false;
  }

  _updateContourVisibled(id) {
    let visibled = this.contours[id].visible;
    this.set('contours.' + id + '.contour.meshBack.visible', visibled);
    this.set('contours.' + id + '.contour.meshFront.visible', visibled);
  }

  _getContourId(element) {
    let el = element;

    while ((el = el.parentElement) && !el.classList.contains('contour-item'));

    if (el == null) return;
    let id = el.getAttribute('id');
    id = id.replace('contour-', '');
    return parseInt(id);
  }

}

window.customElements.define(ContoursListIem.is, ContoursListIem);</script>

</dom-module>