<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-contact/paper-contact.html">

<link rel="import " href="../my-icons.html ">

<link rel="import " href="../style/shared-styles.html ">

<dom-module id="people-preview-card">

    <template>
        
           <style>
      :host {
        display: block;

        padding: 16px;
      }

      paper-card {
            width: 256px;
            position: relative;
            margin-bottom: 20px;
            margin-right: 10px;
            margin-left: 10px;
            overflow: hidden;
            --paper-card-header-image:{
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                height: 256px;
                -o-object-fit: cover;
                    object-fit: cover;
                -webkit-filter: grayscale(.7);
                filter: grayscale(.7);
            };
        }

        paper-card:hover {
            @apply --shadow-elevation-12dp
        }

        iron-image {
            overflow: hidden;
            height: 256px;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            -o-object-fit: cover;
            object-fit: cover;
            -webkit-filter: grayscale(.7);
            filter: grayscale(.7);
        }

        paper-card:hover iron-image{
            -webkit-filter: none;
            filter: none;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            -webkit-transform: scale(1.15);
            -ms-transform: scale(1.15);
                transform: scale(1.15);
        }

        @media (max-width: 300px) {
            paper-card {
            width: 100%;
            }
        }

        .cafe-header {
            @apply --paper-font-headline;
        }

        .cafe-light {
            color: var(--paper-grey-600);
        }

        .cafe-location {
            float: right;
            font-size: 15px;
            vertical-align: middle;
        }
        
        .card-content {
            padding-bottom: 0;
        }

        .card-actions a {
            cursor: auto;
            text-decoration: none;
        }
        .card-actions a paper-button {
            background-color: var(--default-primary-color);
            color: #fff;
            text-decoration:none;
        }
        iron-image {
  width: 128px;
        height: 128px;
        border-radius: 50%;
        margin-top: 2px;
        margin-left: 2px;
}
iron-image ::content #sizedImgDiv {
  border-radius: 50%;
}

.border-wrap {
  position:relative;
        width: 132px;
        height: 132px;
        border-radius: 50%;
        margin: auto;
        margin-top: 32px;
        margin-bottom: -50px;
        background: #FFFFFF;
}
.center {
  display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;-ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;-ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
}

.colored {
 /* background-color: #a8a8a8;*/
 background-image: url('../../images/fond.jpg');
}
.summary {
  margin-top:50px;
        flex:1;
}
.big {
  font-size: 20px;
        padding-bottom: 8px;
        color: #9e9e9e;
}

.medium {
  font-size: 16px;
}
.footer {
  text-align: center;
        padding: 10px;
        background-color: #f5f5f5;
        position:relative;
}



    </style>

    
    <paper-card>
        <div class="center colored">
            <div class="border-wrap">
              <iron-image sizing="contain" preload="" src="[[peoplePreview.image]]"></iron-image>
            </div>
          </div>
          <div class="card-content summary">
              <div class="big">[[peoplePreview.name]] - [[peoplePreview.status]]</div>
              <div class="medium"></div>
              <!--<div class="medium">CHU Haut-Leveque</div>-->
            </div>
            <div class="footer">
                <paper-contact-list>
                    <paper-contact-email>[[peoplePreview.email]]</paper-contact-email>
                    <paper-contact-linkedin>[[peoplePreview.linkedin]]</paper-contact-linkedin>
                    <paper-contact-address>  [[peoplePreview.adress.place]]
[[peoplePreview.adress.town]]
[[peoplePreview.adress.country]]</paper-contact-address>
                </paper-contact-list>
              </div>

    </paper-card>


    </template>

    
    <script>class PeoplePreviewCard extends Polymer.Element {
  static get is() {
    return 'people-preview-card';
  }

  static get properties() {
    return {
      peoplePreview: {
        type: Object,
        value: {}
      }
    };
  }

  constructor() {
    super();
  }

  ready() {
    super.ready();
  }

}

window.customElements.define(PeoplePreviewCard.is, PeoplePreviewCard);</script>

</dom-module>