<script src="../bower_components/three.js/build/three.min.js"></script>
<script src="../bower_components/three.js/examples/js/loaders/STLLoader.js"></script>
<script src="../bower_components/three.js/examples/js/loaders/VTKLoader.js"></script>
<script src="../bower_components/ami/build/ami.min.js"></script>
