<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../bower_components/polymerfire/firebase-auth.html">

<link rel="import" href="my-icons.html">
<link rel="lazy-import" href="my-login.html">
<link rel="lazy-import" href="my-home.html">
<link rel="lazy-import" href="my-case.html">
<link rel="lazy-import" href="my-compare.html">
<link rel="lazy-import" href="my-view404.html">
<link rel="lazy-import" href="my-team.html">
<link rel="lazy-import" href="my-data.html">

<dom-module id="my-app">
    <template>
    <style>
 :host {
        --dark-primary-color:       #212121;
        --default-primary-color:    #424242;
        --light-primary-color:      #bdbdbd;
        --text-primary-color:       #FFFFFF;
        --accent-color:             rgb(98, 97, 99);
        --primary-background-color: #CFD8DC;
        --primary-text-color:       #212121;
        --secondary-text-color:     #757575;
        --disabled-text-color:      #BDBDBD;
        --divider-color:            #BDBDBD;
        --paper-checkbox-label-color: var(--primary-text-color);


        /* Components */

        /* paper-drawer-panel */
        --drawer-menu-color:           #ffffff;
        --drawer-border-color:         1px solid #ccc;
        --drawer-toolbar-border-color: 1px solid rgba(0, 0, 0, 0.22);

        /* paper-menu */
        --paper-menu-background-color: #fff;
        --menu-link-color:             #111111;

        /* paper-input */
        --paper-input-container-color:       #607D8B;
        --paper-input-container-focus-color: #455A64;
        --paper-input-container-input-color: #212121;

        /* paper-radio-button */
        --paper-radio-button-checked-color: var(--accent-color);
        --paper-radio-button-checked-ink-color: var(--accent-color);

        /* paper-tabs */
        --paper-tab-ink: var(--accent-color);
        --paper-tabs-selection-bar-color: var(--accent-color);

        /* paper-button */
        --paper-button: {
          background-color: var(--accent-color);
          color: var(--text-primary-color);
        }

        --paper-checkbox-checked-color: (--primary-text-color);
        --paper-checkbox-checked-ink-color: var(--accent-color);
        
        --paper-checkbox-checkmark-color: var(--accent-color);

        --paper-slider-active-color: var(--accent-color);
        --paper-slider-knob-color: var(--accent-color);

        /* paper-item */
        --paper-listbox: {
          background-color: #fff;
        }

        /* paper-card */
        --paper-card: {
          background-color: #fff;
        }

        display: block;
      }

    </style>

    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="[[rootPattern]]:page/:subpage" data="{{routeData}}" tail="{{subroute}}">
    </app-route>

    <firebase-app auth-domain="atlas-4951a.firebaseapp.com" database-url="https://atlas-4951a.firebaseio.com/" api-key="AIzaSyA14VnwL_vCDqgwlEsUyJPqyGgk92BTko8">
    </firebase-app>

    <firebase-auth id="FBAuth" signed-in="{{signedIn}}">
    </firebase-auth>

    <iron-pages role="main" selected="[[page]]" attr-for-selected="name" fallback-selection="view404">
      <my-login name="login"></my-login>
      <my-home name="home" todo-list="{{todo}}"></my-home>
      <my-case name="case" route-data="[[routeData]]" todo="[[todo]]"></my-case>
      <my-compare name="compare" route-data="[[routeData]]" todo="[[todo]]"></my-compare>
      <my-view404 name="view404"></my-view404>
      <my-data name="data" route-data="[[routeData]]"> </my-data>
      <my-team name="team" route-data="[[routeData]]"> </my-team>

    </iron-pages>
    
  </template>

    <script>class MyApp extends Polymer.Element {
  static get is() {
    return 'my-app';
  }

  static get properties() {
    return {
      page: {
        type: String,
        reflectToAttribute: true,
        observer: '_pageChanged'
      },
      rootPattern: String,
      subroute: String,
      signedIn: {
        type: Boolean,
        observer: '_signedInChanged'
      }
    };
  }

  static get observers() {
    return ['_routePageChanged(routeData.page)'];
  }

  constructor() {
    super(); // Get root pattern for app-route, for more info about `rootPath` see:
    // https://www.polymer-project.org/2.0/docs/upgrade#urls-in-templates

    this.rootPattern = new URL(this.rootPath).pathname;
  }

  _routePageChanged(page) {
    // wait for sign in to match page
    if (!this.signedIn && page !== 'login') {
      return;
    }

    if (this.signedIn && page === 'login') {
      return;
    } // If no page was found in the route data, page will be an empty string.
    // Deault to 'home' in that case.


    this.page = page || 'home';
  }

  _pageChanged(page) {
    // Load page import on demand. Show 404 page if fails
    var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
    Polymer.importHref(resolvedPageUrl, null, this._showPage404.bind(this), true);
  }

  _showPage404() {
    this.page = 'view404';
  }

  _signedInChanged(signedIn) {
    if (signedIn) {
      this.set('routeData.page', 'home');
    } else {
      this.set('routeData.page', 'login');
      this.set('routeData.subpage', '');
    }
  }

}

window.customElements.define(MyApp.is, MyApp);</script>
</dom-module>