<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">

<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">

<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">

<link rel="import" href="../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../bower_components/polymerfire/firebase-query.html">

<link rel="import" href="elements/compare-viewer-2D.html">
<link rel="import" href="elements/contours-list-item.html">

<link rel="import" href="my-icons.html">
<link rel="import" href="style/viewers-style.html">

<dom-module id="my-compare">

    <template>

    <!-- STYLE -->

    <style include="viewers-style"> 

        .buttons-list-3d {
            height: 24px;
            padding: 0;
            font-size: 12px;
            color: #d9d9d9;
            position: absolute;
            top: 5px;
            left: 5px;
            z-index: 1;
            cursor: default;
            font-weight: lighter;
        }

        .buttons-list-3d .button-3d {
            width: 40px;
            height: 40px;
            background-color: var(--dark-primary-color);
            color: var(--text-primary-color);
        }

        #modalControls {
            width: 350px;
        }

        #modalControls > h2 {
            padding: 5px 30px;
        }

        #modalControls > p {
            padding: 5px 30px;
            margin: 0;
        }

        #modalControls .kbd {
            padding: 0.1em 0.6em;
            border: 1px solid #ccc;
            font-size: 11px;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f7f7f7;
            color: #333;
            -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
            -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
            box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            display: inline-block;
            margin: 0 0.1em;
            text-shadow: 0 1px 0 #fff;
            line-height: 1.4;
            white-space: nowrap;
        }

        #modalControls .esc {
            font-size: 11px;
            font-family: Arial, Helvetica, sans-serif;
            color: #333;
            display: inline-block;
            text-shadow: 0 1px 0 #fff;
            line-height: 1.4;
            white-space: nowrap;
        }

    </style>

    <!-- STYLE END -->

    <!-- DATABASE -->

    <firebase-auth id="FBAuth" user="{{user}}">
    </firebase-auth>

    <firebase-query id="FBQuery" path="/cases" data="{{cases}}" equal-to="[[page]]">
    </firebase-query>

    <firebase-query id="FBSave" path="/users/[[user.uid]]/cases">
    </firebase-query>

    <!-- DATABASE END -->

    <app-drawer-layout fullbleed="">
        
        <!-- LEFT SIDEBAR  -->
        
        <app-drawer slot="drawer" hidden="[[loadingData]]">

            <div style="height:100% ; overflow-x:hidden ; overflow-y:auto ;">
                <a href="home/">
                    <div class="welcome"></div>
                </a>
                <div style="width:100%">
                    <paper-listbox selected="{{filter}}" attr-for-selected="label" selectable=".label">
                        
                        <a href="data/[[userCase.id]]/">
                          <paper-item class="" raised="">View data</paper-item>
                        </a>
                        <a href="case/[[userCase.id]]/">
                            <paper-item class="" raised="">Open atlas</paper-item>
                        </a>
                        <a href="compare/[[userCase.id]]/">
                            <paper-item class="iron-selected" raised="">Open compare</paper-item>
                        </a>

                        <contours-list-item contours="{{userCase.models}}" on-tap="_updateRenderers" on-mousemove="_updateRenderers"></contours-list-item>
                        
                    </paper-listbox>
                </div>
            </div>

        </app-drawer>

        <!-- LEFT SIDEBAR END -->

        <app-header-layout has-scrolling-region="">

            <!-- TOP BAR -->

            <app-header slot="header" condenses="" reveals="" effects="waterfall">

                <app-toolbar>
                    <paper-icon-button icon="my-icons:menu" drawer-toggle=""></paper-icon-button>
                    <div main-title="">[[userCase.title]]</div>
                    <div class="emailTest">
                        <div>{{user.email}}</div>
                        <a href="home/">
                            <paper-icon-button icon="home"></paper-icon-button>
                        </a>
                    </div>
                </app-toolbar>
                
            </app-header>

            <!-- TOP BAR END -->

            <!-- PAGE CONTENT -->

            <div class="viewers">

                <template is="dom-if" if="[[loadingData]]">
                <div class="loader">
                    <div>
                        <div class="cube-wrapper">
                            <div class="cube-folding">
                            <span class="leaf1"></span>
                            <span class="leaf2"></span>
                            <span class="leaf3"></span>
                            <span class="leaf4"></span>
                            </div>
                            <span class="loading" data-name="Loading">Loading ([[fetchProgress]]%)</span>
                        </div>
                    </div>
                </div>
                </template>

    <div id="mainmain" class="main">

        <div class="advanced buttons-list-3d">
            <paper-icon-button icon="icons:touch-app" class="button-3d" on-tap="toggleControlModal"></paper-icon-button>
        </div>

        <div class="advanced fulloff">

            <div class="controls only-for-small">
                <span class="label">Image preview</span>
                <paper-icon-button icon="my-icons:expand-more" target="p3p3" on-tap="toggleMenu" target-menu="collapseIP"></paper-icon-button>
            </div>

            <iron-collapse class="only-for-small" id="collapseIP" no-animation="">
                <div>
                    Plane :
                    <paper-dropdown-menu>
                        <paper-listbox slot="dropdown-content" selected="{{mainViewer}}">
                            <paper-item>Axial</paper-item>
                            <paper-item>Coronal</paper-item>
                            <paper-item>Sagittal</paper-item>
                        </paper-listbox>
                    </paper-dropdown-menu>
                </div>
            </iron-collapse>
            
            <div class="controls">
                <span class="label">Back image controls</span>
                <paper-icon-button icon="my-icons:expand-more" target="p3p3" on-tap="toggleMenu" target-menu="collapse"></paper-icon-button>
            </div>
            <iron-collapse id="collapse" no-animation="">
                <div>
                    Win. Width:
                    <paper-slider value="{{stackWindowWidth}}" immediate-value="{{stackWindowWidth}}" min="1" max="[[stackIntensityRange]]" secondary-progress="0"></paper-slider>
                </div>
                <div>
                    Win. Level:
                    <paper-slider value="{{stackWindowCenter}}" immediate-value="{{stackWindowCenter}}" min="[[stackIntensityMin]]" max="[[stackIntensityMax]]" secondary-progress="[[stackIntensityMin]]"></paper-slider>
                </div>
                <div>
                    <paper-button on-tap="_resetIntensity">Reset</paper-button>
                </div>
            </iron-collapse>
            <div class="controls">
                <span class="label">Front image controls</span>
                <paper-icon-button icon="my-icons:expand-more" target="p3p3" on-tap="toggleMenu" target-menu="collapse2"></paper-icon-button>
            </div>
            <iron-collapse id="collapse2" no-animation="">
                <div>
                    Win. Width:
                    <paper-slider value="{{stack2WindowWidth}}" immediate-value="{{stack2WindowWidth}}" min="1" max="[[stack2IntensityRange]]" secondary-progress="0"></paper-slider>
                </div>
                <div>
                    Win. Level:
                    <paper-slider value="{{stack2WindowCenter}}" immediate-value="{{stack2WindowCenter}}" min="[[stack2IntensityMin]]" max="[[stack2IntensityMax]]" secondary-progress="[[stack2IntensityMin]]"></paper-slider>
                </div>
                <div>
                    <paper-button on-tap="_resetIntensity2">Reset</paper-button>
                </div>
            </iron-collapse>
            <div class="controls">
                <span class="label">Mix images control</span>
                <paper-icon-button icon="my-icons:expand-more" target="p3p3" on-tap="toggleMenu" target-menu="collapse3"></paper-icon-button>
            </div>
            <iron-collapse id="collapse3" no-animation="">
                <div>
                    Mode :
                    <paper-dropdown-menu>
                        <paper-listbox slot="dropdown-content" selected="{{mixMode}}">
                            <paper-item>Vertical</paper-item>
                            <paper-item>Horizontal</paper-item>
                            <paper-item>Cross</paper-item>
                        </paper-listbox>
                    </paper-dropdown-menu>
                </div>
            </iron-collapse>
        </div>

        <div id="p1" class="move">
            <div class="v2">
                <compare-viewer-2d id="first" class="viewer" stack-index="{{stackIndex0}}" stack-scene="[[stackScene0]]" stack-window-center="[[stackWindowCenter]]" stack-window-width="[[stackWindowWidth]]" stack2-scene="[[stack2Scene0]]" stack2-window-center="[[stack2WindowCenter]]" stack2-window-width="[[stack2WindowWidth]]" contours="[[contours]]" mix-mode="{{mixMode}}" on-goto="_handleGoto">
                </compare-viewer-2d>
            </div>
            <paper-slider min="0" max="[[v0max]]" value="{{stackIndex0}}" immediate-value="{{stackIndex0}}"></paper-slider>
        </div>

    </div>

    <div class="small">

        <div id="p2p2" class="s2">
            <div class="fulloff">
                <span class="label">Fullscreen</span>
                <paper-icon-button icon="fullscreen" target="p2p2" on-tap="switchViewer"></paper-icon-button>
            </div>
            <div id="p2" class="move">
                <div class="v2">
                    <compare-viewer-2d id="second" class="viewer" stack-index="{{stackIndex1}}" stack-scene="[[stackScene1]]" stack-window-center="[[stackWindowCenter]]" stack-window-width="[[stackWindowWidth]]" stack2-scene="[[stack2Scene1]]" stack2-window-center="[[stack2WindowCenter]]" stack2-window-width="[[stack2WindowWidth]]" contours="[[contours]]" mix-mode="{{mixMode}}" on-goto="_handleGoto"></compare-viewer-2d>
                </div>
                <paper-slider min="0" max="[[v1max]]" value="{{stackIndex1}}" immediate-value="{{stackIndex1}}"></paper-slider>
            </div>
        </div>

        <div id="p3p3" class="s2">
            <div class="fulloff">
                <span class="label">Fullscreen</span>
                <paper-icon-button icon="fullscreen" target="p3p3" on-tap="switchViewer">Text</paper-icon-button>
            </div>
            <div id="p3" class="move">
                <div class="v2">
                    <compare-viewer-2d id="third" class="viewer" stack-index="{{stackIndex2}}" stack-scene="[[stackScene2]]" stack-window-center="[[stackWindowCenter]]" stack-window-width="[[stackWindowWidth]]" stack2-scene="[[stack2Scene2]]" stack2-window-center="[[stack2WindowCenter]]" stack2-window-width="[[stack2WindowWidth]]" contours="[[contours]]" mix-mode="{{mixMode}}" on-goto="_handleGoto"></compare-viewer-2d>
                </div>
                <paper-slider min="0" max="[[v2max]]" value="{{stackIndex2}}" immediate-value="{{stackIndex2}}"></paper-slider>
            </div>
        </div>

    </div>

    </div>

    <!-- PAGE CONTENT END -->

    </app-header-layout>

    </app-drawer-layout>

    <paper-dialog id="modalControls">
        <h2>List of control</h2>
        <p>
            </p><ul>
                <li class="kbd">shift</li>
                <li class="esc">+ mouse : Fusion</li>
            </ul>
            <ul>
                <li class="kbd">↑</li>
                <li class="kbd">↓</li>
                <li class="esc">: Change slice</li>
            </ul>
            <ul>
                <li class="esc"> Right click + mouse : Zoom-in </li>
                <li class="esc">
                    <iron-icon icon="icons:zoom-in"></iron-icon>
                </li>
                <li class="esc"> and zoom-out
                    <iron-icon icon="icons:zoom-out"></iron-icon>
                </li>
            </ul>
            <ul>
                <li class="esc"> Left click + mouse : Grabe image </li>
            </ul>
            <ul>
                <li class="esc"> Double click : Fly to the mouse location </li>
            </ul>
        <p></p>
        <div class="buttons">
            <paper-button dialog-confirm="" autofocus="">Close</paper-button>
        </div>
    </paper-dialog>

    </template>

    <script>class MyCompare extends Polymer.Element {
  static get is() {
    return 'my-compare';
  }

  static get properties() {
    return {
      routeData: {
        type: Object,
        value: {}
      },
      page: {
        type: String,
        reflectToAttribute: true
      },
      user: {
        type: Object,
        value: {}
      },
      cases: {
        type: Array
      },
      userCase: {
        type: Object,
        observer: '_userCaseChanged'
      },
      contour: {
        type: String,
        value: '',
        observer: '_contourChanged'
      },
      choice: {
        type: String,
        value: ''
      },
      mainViewer: {
        type: Number,
        value: 0,
        observer: '_mainViewerChanged'
      },
      stackWindowWidth: {
        type: Number,
        value: 0
      },
      stackWindowCenter: {
        type: Number,
        value: 0
      },
      stackIntensityMin: {
        type: Number,
        value: 0
      },
      stackIntensityMax: {
        type: Number,
        value: 0
      },
      stackIntensityRange: {
        type: Number,
        value: 0
      },
      stack2WindowWidth: {
        type: Number,
        value: 0
      },
      stack2WindowCenter: {
        type: Number,
        value: 0
      },
      stack2IntensityMin: {
        type: Number,
        value: 0
      },
      stack2IntensityMax: {
        type: Number,
        value: 0
      },
      stack2IntensityRange: {
        type: Number,
        value: 0
      },
      mixMode: {
        type: Number,
        value: 2
      },
      stackScene0: {
        type: Object,
        value: {}
      },
      stackScene1: {
        type: Object,
        value: {}
      },
      stackScene2: {
        type: Object,
        value: {}
      },
      stack2Scene0: {
        type: Object,
        value: {}
      },
      stack2Scene1: {
        type: Object,
        value: {}
      },
      stack2Scene2: {
        type: Object,
        value: {}
      },
      stackIndex0: {
        type: Number,
        observer: '_stackIndexChanged'
      },
      stackIndex1: {
        type: Number,
        observer: '_stackIndexChanged'
      },
      stackIndex2: {
        type: Number,
        observer: '_stackIndexChanged'
      },
      v0max: {
        type: Number,
        value: 0
      },
      v1max: {
        type: Number,
        value: 0
      },
      v2max: {
        type: Number,
        value: 0
      },
      contours: {
        type: Array,
        value: []
      },
      loadingData: {
        type: Boolean,
        value: true
      },
      fetchProgress: {
        type: Number,
        value: 0
      },
      answered: {
        type: Boolean,
        value: false
      },
      todo: {
        type: Array,
        value: [],
        observer: '_todoChanged'
      }
    };
  }

  static get observers() {
    return ['_routePageChanged(routeData.*)', '_casesChanged(cases.splices)'];
  }

  constructor() {
    super();
    this._resizeListenerBound = this._resizeListener.bind(this);
  }

  connectedCallback() {
    super.connectedCallback();
    window.addEventListener('resize', this._resizeListenerBound);
  }

  disconnectedCallback() {
    super.disconnectedCallback();
    window.removeEventListener('resize', this._resizeListenerBound);
  }

  ready() {
    super.ready(); // renderers
  }

  _routePageChanged(routeData) {
    // Polymer 2.0 will call with `undefined` on initialization.
    // Ignore until we are properly called with a string.
    if (routeData === undefined) {
      return;
    }

    this.contour = null;
    this.choice = null;

    if (routeData.value.page !== 'compare') {
      // stop rendering loops
      this.$.first.stopRenderingLoop();
      this.$.second.stopRenderingLoop();
      this.$.third.stopRenderingLoop(); // to stop loader if changing page while loading data

      this.volumeLoader = null;
      return;
    }

    this.page = routeData.value.subpage; // start rendering loops

    this.$.first.startRenderingLoop();
    this.$.second.startRenderingLoop();
    this.$.third.startRenderingLoop();
  }

  _casesChanged(cases) {
    if (cases === undefined || cases.indexSplices[0].object.length !== 1) {
      return;
    }

    console.log('my-comapre:_casesChanged', cases);
    this.set('userCase', cases.indexSplices[0].object[0]);
  }

  _contourChanged(contour) {
    for (let i = 0; i < this.contours.length; i++) {
      this.contours[i].selected = this.contours[i].label === contour ? true : false;
    }

    this._updateRenderers();
  }

  _userCaseChanged(userCase) {
    console.log('my-compare:_userCaseChanged userCase', userCase);

    if (userCase === null || !userCase.id) {
      return;
    } // cleanup


    this._cleanup();

    let imageLoaded = false;
    this.loadingData = true; // load the models

    const loadContourModel = model => {
      let extension = model.location.split('.').pop();
      let loader = null;
      if (extension === 'vtk') loader = new THREE.VTKLoader();else if (extension === 'stl') loader = new THREE.STLLoader();else {
        console.error('undefined contour file type ' + model.location);
        return;
      }
      loader.load(model.location, geometry => {
        const object = {};
        object.scene = new THREE.Scene(); // front

        object.materialFront = new THREE.MeshBasicMaterial({
          color: model.color,
          side: THREE.FrontSide,
          depthWrite: true,
          opacity: 0,
          transparent: true,
          clippingPlanes: []
        });
        object.meshFront = new THREE.Mesh(geometry, object.materialFront); // object.meshFront.applyMatrix(RASToLPS);

        object.scene.add(object.meshFront); // back

        object.materialBack = new THREE.MeshBasicMaterial({
          color: model.color,
          side: THREE.BackSide,
          depthWrite: true,
          opacity: 1,
          transparent: true,
          // false == materialFront.opacity = 1
          clippingPlanes: []
        });
        object.meshBack = new THREE.Mesh(geometry, object.materialBack); // object.meshBack.applyMatrix(RASToLPS);

        object.scene.add(object.meshBack); // sceneClip.add(object.scene);

        this.push('contours', object);
        object.selected = false;
        object.model = model;
        model.contour = object;

        if (this.contours.length === 3 && imageLoaded) {
          this.loadingData = false;

          this._updateRenderers();
        }
      });
    };

    for (let i = 0; i < userCase.models.length; i++) {
      userCase.models[i].id = i;
      userCase.models[i].visible = true;
      loadContourModel(userCase.models[i]);
    } // fetch new data
    // [userCase.image]


    this.volumeLoader = new AMI.VolumeLoader();
    let loaderFile1 = 0;
    let loaderFile2 = 0;
    this.volumeLoader.on('fetch-start', evt => {
      if (evt.file !== this.userCase.image.location && evt.file !== this.userCase.image2.location) return; // page changed

      this.fetchProgress = 0;
    });
    this.volumeLoader.on('fetch-progress', evt => {
      if (evt.file !== this.userCase.image.location && evt.file !== this.userCase.image2.location) return; // page changed

      let progress = evt.loaded / evt.total;
      if (evt.file === userCase.image.location) loaderFile1 = progress;else loaderFile2 = progress;
      this.fetchProgress = Math.round(100 * (loaderFile1 + loaderFile2) / 2);
    });
    this.volumeLoader.on('fetch-end', evt => {
      if (evt.file !== this.userCase.image.location && evt.file !== this.userCase.image2.location) return; // page changed

      this.fetchProgress = 100;
    });
    this.volumeLoader.load([userCase.image.location, userCase.image2.location]).then(series => {
      console.log(series); // merge series

      const mergedSeries = series[0].mergeSeries(series);
      return mergedSeries;
    }).then(series => {
      if (this.routeData.page !== 'compare') {
        throw "page has changed";
      }

      if (this.userCase.image.location !== series[0]._seriesInstanceUID && this.userCase.image2.location !== series[1]._seriesInstanceUID) {
        throw "volume has changed !";
      }

      return series;
    }).then(series => {
      console.log('my-compare:_userCaseChanged then series', series); // create stack scenes

      const stack = series[0].stack[0];
      const stackHelper0 = new AMI.StackHelper(stack);
      stackHelper0.slice.intensityAuto = false;
      stackHelper0.slice.windowWidth = this.userCase.image.windowWidth;
      stackHelper0.slice.windowCenter = this.userCase.image.windowLevel;
      const stackScene0 = new THREE.Scene();
      stackScene0.add(stackHelper0);
      const stackHelper1 = new AMI.StackHelper(stack);
      stackHelper1.slice.intensityAuto = false;
      stackHelper1.slice.windowWidth = this.userCase.image.windowWidth;
      stackHelper1.slice.windowCenter = this.userCase.image.windowLevel;
      const stackScene1 = new THREE.Scene();
      stackScene1.add(stackHelper1);
      const stackHelper2 = new AMI.StackHelper(stack);
      stackHelper2.slice.intensityAuto = false;
      stackHelper2.slice.windowWidth = this.userCase.image.windowWidth;
      stackHelper2.slice.windowCenter = this.userCase.image.windowLevel;
      const stackScene2 = new THREE.Scene();
      stackScene2.add(stackHelper2);
      this.set('stackScene0', stackScene0);
      this.set('stackScene1', stackScene1);
      this.set('stackScene2', stackScene2); // create stack2 scenes

      const stack2 = series[1].stack[0];
      const stack2Helper0 = new AMI.StackHelper(stack2);
      stack2Helper0.slice.intensityAuto = false;
      stack2Helper0.slice.windowWidth = this.userCase.image2.windowWidth;
      stack2Helper0.slice.windowCenter = this.userCase.image2.windowLevel;
      const stack2Scene0 = new THREE.Scene();
      stack2Scene0.add(stack2Helper0);
      const stack2Helper1 = new AMI.StackHelper(stack2);
      stack2Helper1.slice.intensityAuto = false;
      stack2Helper1.slice.windowWidth = this.userCase.image2.windowWidth;
      stack2Helper1.slice.windowCenter = this.userCase.image2.windowLevel;
      const stack2Scene1 = new THREE.Scene();
      stack2Scene1.add(stack2Helper1);
      const stack2Helper2 = new AMI.StackHelper(stack2);
      stack2Helper2.slice.intensityAuto = false;
      stack2Helper2.slice.windowWidth = this.userCase.image2.windowWidth;
      stack2Helper2.slice.windowCenter = this.userCase.image2.windowLevel;
      const stack2Scene2 = new THREE.Scene();
      stack2Scene2.add(stack2Helper2);
      this.set('stack2Scene0', stack2Scene0);
      this.set('stack2Scene1', stack2Scene1);
      this.set('stack2Scene2', stack2Scene2);
      this.$.first.orientation = 'axial';
      this.$.first.resize();
      this.$.second.orientation = 'coronal';
      this.$.second.resize();
      this.$.third.orientation = 'sagittal';
      this.$.third.resize(); // update sliders

      this.v0max = this.$.first.stackMaxIndex;
      this.stackIndex0 = Math.floor(this.v0max / 2);
      this.v1max = this.$.second.stackMaxIndex;
      this.stackIndex1 = Math.floor(this.v1max / 2);
      this.v2max = this.$.third.stackMaxIndex;
      this.stackIndex2 = Math.floor(this.v2max / 2); // update controls

      this._resetIntensity();

      this._resetIntensity2();

      this.stackWindowWidth = this.userCase.image.windowWidth;
      this.stackWindowCenter = this.userCase.image.windowLevel;
      this.stack2WindowWidth = this.userCase.image2.windowWidth;
      this.stack2WindowCenter = this.userCase.image2.windowLevel; // update flags

      imageLoaded = true;
      this.fetchProgress = 0;
      this.answered = false;

      if (
      /*this.contours.length === 3 &&*/
      imageLoaded) {
        this.loadingData = false;

        this._updateRenderers(); // update default zoom


        if (this.userCase.image && this.userCase.image.zoom) {
          if (this.userCase.image.zoom.axial) {
            this.$.first._camera.zoom = this.userCase.image.zoom.axial;

            this.$.first._camera.update();
          }

          if (this.userCase.image.zoom.coronal) {
            this.$.second._camera.zoom = this.userCase.image.zoom.coronal;

            this.$.second._camera.update();
          }

          if (this.userCase.image.zoom.sagittal) {
            this.$.third._camera.zoom = this.userCase.image.zoom.sagittal;

            this.$.third._camera.update();
          }
        }
      }
    }); // fetch meshes
    // push in mesh array
    // _meshesChanged
    // push it to viewers
  }

  _resetIntensity() {
    const stack = this.stackScene0.children[0].stack;
    this.stackIntensityMin = stack.minMax[0];
    this.stackIntensityMax = stack.minMax[1];
    this.stackIntensityRange = stack.minMax[1] - stack.minMax[0];
    this.stackWindowWidth = this.stackIntensityRange;
    this.stackWindowCenter = stack.minMax[0] + this.stackIntensityRange / 2;
  }

  _resetIntensity2() {
    const stack = this.stack2Scene0.children[0].stack;
    this.stack2IntensityMin = stack.minMax[0];
    this.stack2IntensityMax = stack.minMax[1];
    this.stack2IntensityRange = stack.minMax[1] - stack.minMax[0];
    this.stack2WindowWidth = this.stack2IntensityRange;
    this.stack2WindowCenter = stack.minMax[0] + this.stack2IntensityRange / 2;
  }

  _resizeListener() {
    this.$.first.resize();
    this.$.second.resize();
    this.$.third.resize();

    this._updateRenderers();
  }

  _submitAnswer() {
    // id
    // answers
    this.$.FBSave.ref.push({
      id: this.userCase.id,
      contour: this.contour,
      choice: this.choice,
      date: Date.now()
    });
    this.contour = '';
    this.choice = '';
    this.answered = true;
  }

  _selectionDone(contour, choice) {
    return !(contour !== null && contour !== '' && choice !== null && choice !== '');
  }

  _handleGoto(event) {
    const ijk = event.detail;
    const stackHelper0 = this.stackScene0.children[0];
    const stackHelper1 = this.stackScene1.children[0];
    const stackHelper2 = this.stackScene2.children[0];
    this.$.first.stackIndex = ijk.getComponent((stackHelper0.orientation + 2) % 3);
    this.$.second.stackIndex = ijk.getComponent((stackHelper1.orientation + 2) % 3);
    this.$.third.stackIndex = ijk.getComponent((stackHelper2.orientation + 2) % 3);

    this._updateLocalizers();

    this._updateRenderers();
  }

  _stackIndexChanged(index) {
    if (index === undefined) {
      return;
    }

    this._updateLocalizers();

    this._updateRenderers();
  } // localizers = line to show the 2 other index on viewer 


  _updateLocalizers() {
    if (this.stackScene0 === undefined || this.stackScene0.children === undefined || this.stackScene1 === undefined || this.stackScene1.children === undefined || this.stackScene2 === undefined || this.stackScene2.children === undefined) {
      return;
    } // update localizers


    const stackHelper0 = this.stackScene0.children[0];
    const stackHelper1 = this.stackScene1.children[0];
    const stackHelper2 = this.stackScene2.children[0];
    const plane0 = stackHelper0.slice.cartesianEquation();
    const plane1 = stackHelper1.slice.cartesianEquation();
    const plane2 = stackHelper2.slice.cartesianEquation();
    this.$.first.localizers = [{
      plane: plane1,
      color: new THREE.Color('#607d8b')
    }, {
      plane: plane2,
      color: new THREE.Color('#607d8b')
    }];
    this.$.second.localizers = [{
      plane: plane0,
      color: new THREE.Color('#607d8b')
    }, {
      plane: plane2,
      color: new THREE.Color('#607d8b')
    }];
    this.$.third.localizers = [{
      plane: plane0,
      color: new THREE.Color('#607d8b')
    }, {
      plane: plane1,
      color: new THREE.Color('#607d8b')
    }];
  }

  _cleanup() {
    // this.userCase = {};
    // this.page = null;
    // clean stack
    if (this.stackScene0 !== null && this.stackScene0.children && this.stackScene0.children.length >= 1) {
      let stackHelper = this.stackScene0.children[0];
      this.stackScene0.remove(stackHelper);
      stackHelper.dispose();
      stackHelper = null;
      this.stackScene0 = {};
    }

    if (this.stackScene1 !== null && this.stackScene1.children && this.stackScene1.children.length >= 1) {
      let stackHelper = this.stackScene1.children[0];
      this.stackScene1.remove(stackHelper);
      stackHelper.dispose();
      stackHelper = null;
      this.stackScene1 = {};
    }

    if (this.stackScene2 !== null && this.stackScene2.children && this.stackScene2.children.length >= 1) {
      let stackHelper = this.stackScene2.children[0];
      this.stackScene2.remove(stackHelper);
      stackHelper.dispose();
      stackHelper = null;
      this.stackScene2 = {};
    } // clean contours


    if (this.contours && this.contours.length > 0) {
      for (let i = 0; i < this.contours.length; i++) {
        this.contours[i].scene.remove(this.contours[i].meshFront);
        this.contours[i].meshFront.geometry.dispose();
        this.contours[i].meshFront.geometry = null;
        this.contours[i].meshFront.material.dispose();
        this.contours[i].meshFront.material = null;
        this.contours[i].meshFront = null;
        this.contours[i].scene.remove(this.contours[i].meshBack);
        this.contours[i].meshBack.geometry.dispose();
        this.contours[i].meshBack.geometry = null;
        this.contours[i].meshBack.material.dispose();
        this.contours[i].meshBack.material = null;
        this.contours[i].meshBack = null;
        this.set('contours', []);
      }

      for (let i = 0; i < this.userCase.models.length; i++) {
        this.userCase.models[i].contour = null;
      }
    } // clean localizers

  }

  switchViewer(event) {
    const target = event.currentTarget.getAttribute('target');
    let viewer = this.$[target].querySelector('compare-viewer-2d');
    if (viewer == null || viewer == undefined) return;
    let id = viewer.getAttribute('id');
    if (id == null || id == undefined) return;
    if (id === 'first') this.set('mainViewer', 0); // axial
    else if (id === 'second') this.set('mainViewer', 1); // coronal
      else if (id === 'third') this.set('mainViewer', 2); // sagittal
  }

  _mainViewerChanged() {
    let target = null;
    if (this.mainViewer == 0) target = 'first'; // axial
    else if (this.mainViewer == 1) target = 'second'; // coronal
      else if (this.mainViewer == 2) target = 'third'; // sagittal

    if (target == null) return;
    let elt = this.$[target].parentElement.parentElement.parentElement;
    let id = elt.getAttribute('id');

    this._changeViewer(id);
  }

  _changeViewer(target) {
    const mainContainer = this.$.mainmain.children[2];
    const smallContainer = this.$[target].children[1];
    this.$.mainmain.appendChild(smallContainer);
    this.$[target].appendChild(mainContainer);

    this._resizeListener();
  }

  toggleControlModal(event) {
    this.$.modalControls.open();
  }

  toggleMenu(e) {
    let target = e.currentTarget.getAttribute('target-menu');
    this.$[target].toggle();
  }

  _updateRenderers() {
    this.$.first._changed = true;
    this.$.second._changed = true;
    this.$.third._changed = true;
  }

  _todoChanged(todo) {
    if (todo === undefined) {
      return;
    }
  }

  _done(todo) {
    return todo.length <= 0;
  }

  _next(todo) {
    if (todo === undefined) {
      return;
    }

    if (todo.length > 0) {
      return todo[0].id;
    }
  }

}

window.customElements.define(MyCompare.is, MyCompare);</script>
</dom-module>