<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">

<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">

<link rel="import" href="../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../bower_components/polymerfire/firebase-query.html">

<link rel="import" href="my-icons.html">
<link rel="import" href="style/shared-styles.html">

<dom-module id="my-data">
    <template>

    <!-- STYLE -->

    <style include="shared-styles">
    </style>

    <!-- STYLE END -->

    <!-- DATABASE -->

    <firebase-auth id="FBAuth" user="{{user}}">
    </firebase-auth>

    <firebase-query id="FBQuery" path="/cases" data="{{cases}}" equal-to="[[page]]">
    </firebase-query>

    <firebase-query id="FBSave" path="/users/[[user.uid]]/cases">
    </firebase-query>

    <!-- DATABASE END -->

    <app-drawer-layout fullbleed="">
        
        <!-- LEFT SIDEBAR  -->
        
        <app-drawer slot="drawer">

            <div style="height:100% ; overflow-x:hidden ; overflow-y:auto ; ">
                <a href="home/">
                    <div class="welcome"></div>
                </a>
                <div style="width:100%">
                    <paper-listbox>

                        <a href="data/[[userCase.id]]/">
                          <paper-item class="iron-selected" raised="">View data</paper-item>
                        </a>
                        <a href="case/[[userCase.id]]/">
                            <paper-item class="" raised="">Open atlas</paper-item>
                        </a>
                        <template is="dom-if" if="{{userCase.image2}}">
                        <a href="compare/[[userCase.id]]/">
                            <paper-item class="" raised="">Open compare</paper-item>
                        </a>
                        </template>

    <div class="separator"><span>Chapters<span></span></span></div>

                        <paper-item class="link" href="#anchorHdm" on-tap="_onTapAnchor">History</paper-item>
                        <paper-item class="link" href="#anchorEc" on-tap="_onTapAnchor">Examination</paper-item>
                        <paper-item class="link" href="#anchorInv" on-tap="_onTapAnchor">Investigation </paper-item>
                        <paper-item class="link" href="#anchorTdm" on-tap="_onTapAnchor">Treatment </paper-item>
                        <paper-item class="link" href="#anchorRef" on-tap="_onTapAnchor">References </paper-item>

                    </paper-listbox>
                </div>
            </div>

        </app-drawer>

        <!-- LEFT SIDEBAR END -->

        <app-header-layout has-scrolling-region="">

            <!-- TOP BAR -->

            <app-header slot="header" condenses="" reveals="" effects="waterfall">

                <app-toolbar>
                    <paper-icon-button icon="my-icons:menu" drawer-toggle=""></paper-icon-button>
                    <div main-title="">[[userCase.title]]</div>
                    <div class="emailTest">
                        <div>{{user.email}}</div>
                        <a href="home/">
                            <paper-icon-button icon="home"></paper-icon-button>
                        </a>
                    </div>
                </app-toolbar>
                
            </app-header>

            <!-- TOP BAR END -->

            <!-- PAGE CONTENT -->

            <div class="container">

                <div style="width:100%">
                    <div class="infos">
                        <div class="card" id="anchorHdm">
                            <div class="description">
                                <h1> History </h1>
                                <p id="hdm"></p><p>
                            </p></div>
                        </div>
                        <div class="card" id="anchorEc">
                            <h1> Examination </h1>
                            <div class="description">
                                <p id="ec"></p>
                            </div>
                        </div>
                        <div class="card" id="anchorInv">
                            <h1> Investigation </h1>
                            <div class="description">
                                <p id="inv"></p>
                            </div>
                        </div>
                        <div class="card" id="anchorTdm">
                                <h1> Treatment </h1>
                                <div class="description">
                                    <p id="tdm"></p>
                                </div>
                            </div>

                        <div class="card" id="anchorRef">
                                <h1> References </h1>
                                <div class="description">
                                    <p id="ref"></p>
                                </div>
                            </div>

                    </div>
                </div>
                
            </div>

            <!-- PAGE CONTENT END -->

        </app-header-layout>

    </app-drawer-layout>

    </template>

    <script>// Your new element extends the Polymer.Element base class
class MyData extends Polymer.Element {
  static get is() {
    return 'my-data';
  }

  static get properties() {
    return {
      routeData: {
        type: Object,
        value: {}
      },
      page: {
        type: String,
        reflectToAttribute: true
      },
      user: {
        type: Object,
        value: {}
      },
      cases: {
        type: Array
      },
      userCase: {
        type: Object,
        observer: '_userCaseChanged'
      }
    };
  }

  static get observers() {
    return ['_routePageChanged(routeData.*)', '_casesChanged(cases.splices)', '_descriptionDisplay(userCase)'];
  }

  _descriptionDisplay(userCase) {
    // The item description contains escaped HTML (e.g. "&lt;br&gt;"), so we need to
    // unescape it ("<br>") and set it as innerHTML.
    this.$.hdm.innerHTML = this._unescapeText(userCase, 'hdm');
    this.$.ec.innerHTML = this._unescapeText(userCase, 'ec');
    this.$.inv.innerHTML = this._unescapeText(userCase, 'inv');
    this.$.tdm.innerHTML = this._unescapeText(userCase, 'tdm');
    this.$.ref.innerHTML = this._unescapeText(userCase, 'ref');
  }

  _unescapeText(userCase, elt) {
    if (userCase === undefined) return '';
    if (userCase.descriptiondata == undefined) return '';
    if (userCase.descriptiondata[elt] == undefined) return '';
    let elem = document.createElement('textarea');
    elem.innerHTML = userCase.descriptiondata[elt];
    return elem.textContent;
  }

  _onTapAnchor(e) {
    e.preventDefault();
    var anchor = e.target.getAttribute("href"); //  console.log(anchor);

    Polymer.dom(this.root).querySelector(anchor).scrollIntoView();
  }

  _routePageChanged(routeData) {
    this.page = routeData.value.subpage; // start rendering loops
  }

  _userCaseChanged(userCase) {
    if (userCase === null || !userCase.id) {
      return;
    }
  }

  _casesChanged(cases) {
    if (cases === undefined || cases.indexSplices[0].object.length !== 1) {
      return;
    }

    this.set('userCase', cases.indexSplices[0].object[0]);
  }

} //Now, register your new custom element so the browser can use it


customElements.define(MyData.is, MyData);</script>
</dom-module>