<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">

<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">

<link rel="import" href="../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../bower_components/polymerfire/firebase-query.html">

<link rel="import" href="elements/case-preview-card.html">

<link rel="import" href="my-icons.html">
<link rel="import" href="style/shared-styles.html">

<dom-module id="my-home">
    <template>

    <!-- STYLE -->

    <style include="shared-styles">
    </style>

    <!-- STYLE END -->

    <!-- DATABASE -->

    <firebase-auth id="FBAuth" user="{{user}}">
    </firebase-auth>

    <firebase-query id="FBQuery" path="/cases" data="{{userCases}}">
    </firebase-query>

    <firebase-query id="FBSave" path="/users/[[user.uid]]/cases" data="{{casesDone}}">
    </firebase-query>

    <firebase-query id="FBUser" path="/users/[[user.uid]]" data="{{userToto}}">
    </firebase-query>

    <!-- DATABASE END -->

    <app-drawer-layout fullbleed="">
        
        <!-- LEFT SIDEBAR  -->
        
        <app-drawer slot="drawer">

            <div style="height:100% ; overflow-x:hidden ; overflow-y:auto ; ">
                <a href="home/">
                    <div class="welcome"></div>
                </a>
                <div style="width:100%">
                    <paper-listbox selected="{{filter}}" attr-for-selected="label" selectable=".label">
                        <paper-item label="all" class="label">All cases ([[allCases.length]])</paper-item>
                        <div class="separator"></div>
                        <template is="dom-repeat" items="{{tags}}" as="tag">
                            <paper-item label$="[[tag.value]]" class="label">[[tag.value]] ([[tag.count]])</paper-item>
                        </template>                        
                    </paper-listbox>
                    <div class="separator"></div>
                    <paper-listbox>
                        <a href="team/">
                            <paper-item class="label">
                                <iron-icon icon="icons:perm-identity"></iron-icon>
                                Team
                            </paper-item>
                        </a>
                    </paper-listbox>
                </div>
            </div> 

        </app-drawer>

    <!-- LEFT SIDEBAR END -->

    <app-header-layout has-scrolling-region="">

        <!-- TOP BAR -->

        <app-header slot="header" condenses="" reveals="" effects="waterfall">

            <app-toolbar>
                <paper-icon-button icon="my-icons:menu" drawer-toggle=""></paper-icon-button>
                <div main-title="">Web Medical Tools</div>
                <div class="emailTest">
                    <div>{{user.email}}</div>
                    <paper-icon-button icon="icons:exit-to-app" on-tap="_handleLogout"></paper-icon-button>
                </div>
            </app-toolbar>

        </app-header>

        <!-- TOP BAR END -->

        <!-- PAGE CONTENT -->

        <div class="container">

            <template is="dom-repeat" items="{{allCases}}" as="mycase" filter="{{_filterCases(filter)}}">

                <case-preview-card case-preview="[[mycase]]"></case-preview-card>
                
            </template>

        </div>

        <!-- PAGE CONTENT END -->

    </app-header-layout>

    </app-drawer-layout>

    </template>

    <script>class MyHome extends Polymer.GestureEventListeners(Polymer.Element) {
  static get is() {
    return 'my-home';
  }

  static get properties() {
    return {
      page: {
        type: String,
        reflectToAttribute: true
      },
      tags: {
        type: Array,
        value: []
      },
      user: {
        type: Object,
        value: {} // observer: '_userChanged',

      },
      userToto: {
        type: Object,
        observer: '_userTotoChanged'
      },
      userCases: {
        type: Array,
        value: []
      },
      allCases: {
        type: Array,
        value: []
      },
      completed: {
        type: Number,
        computed: '_computeCompleted(allCases)'
      },
      todo: {
        type: Number,
        computed: '_computeTodo(allCases)',
        notify: true
      },
      todoList: {
        type: Array,
        computed: '_computeTodoList(allCases)',
        notify: true
      },
      casesDone: {
        type: Array
      },
      filter: {
        type: String,
        value: 'all'
      }
    };
  }

  static get observers() {
    return ['_userCasesChanged(userCases.splices)', '_casesDoneChanged(casesDone.splices)'];
  }

  _routePageChanged(routeData) {
    // Polymer 2.0 will call with `undefined` on initialization.
    // Ignore until we are properly called with a string.
    console.log('Path changed!');

    if (routeData === undefined) {
      return;
    }
  }

  _userChanged(user) {
    console.log("my-home _userChanged : ", user);
  }

  _userTotoChanged(userData) {
    console.log("my-home _userTotoChanged : ", userData);
  }

  _userCasesChanged(userCases) {
    console.log("my-home _userCasesChanged : ", userCases);

    if (userCases === undefined) {
      return;
    }

    const tagSet = {};
    const object = userCases.indexSplices[0].object;

    for (const singlecase of object) {
      const tagList = singlecase.tags;

      for (const tag of tagList) {
        if (tagSet[tag]) {
          tagSet[tag] += 1;
        } else {
          tagSet[tag] = 1;
        }
      }
    }

    const tagArray = [];

    for (const value in tagSet) {
      tagArray.push({
        value: value,
        count: tagSet[value]
      });
    }

    this.set('tags', tagArray);
    this.allCases = [];
    this.set('allCases', userCases.indexSplices[0].object);
  }

  _casesDoneChanged(casesDone) {
    if (casesDone === undefined) {
      return;
    }

    const index = casesDone.indexSplices[0].index;
    const object = casesDone.indexSplices[0].object;
    const newCase = object[index];

    for (let i = 0; i < this.allCases.length; i++) {
      if (newCase.id === this.allCases[i].id) {
        this.set(['allCases', i, 'completed'], true);
        this.allCases = this.allCases.slice();
      }
    }
  }

  _handleLogout() {
    this.$.FBAuth.signOut();
  }

  _fillStar(starIndex, difficulty) {
    return starIndex <= difficulty ? 'star' : 'star grey';
  }

  _filterCases(filter) {
    if (filter === 'all') {
      return function (mycase) {
        return true;
      };
    } else if (filter === 'completed') {
      return function (mycase) {
        return mycase.completed;
      };
    } else if (filter === 'todo') {
      return function (mycase) {
        return !mycase.completed;
      };
    } else {
      return function (mycase) {
        return mycase.tags.indexOf(filter) != -1;
      };
    }
  }

  _computeCompleted(cases) {
    const completed = cases.filter(acase => acase.completed);
    return completed.length;
  }

  _computeTodo(cases) {
    const todo = cases.filter(acase => !acase.completed);
    return todo.length;
  }

  _computeTodoList(cases) {
    const todo = cases.filter(acase => !acase.completed);
    return todo;
  }

}

window.customElements.define(MyHome.is, MyHome);</script>
</dom-module>