<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../bower_components/neon-animation/web-animations.html">

<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">

<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">

<link rel="import" href="../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="../bower_components/paper-contact/paper-contact.html">

<link rel="import" href="style/shared-styles.html">

<dom-module id="my-login">
    <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      app-header-layout {
        background-color: var(--default-primary-color);
      }

      .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }

      .message{
        color: grey;
        text-decoration: none;
        font-size: 12px;
        font-style: italic;
        font-weight: lighter;
      }

      .maintitle {
        font-size: 32px;
        font-size: 32px;
        text-align: center;
        color: #d9d9d9;
      }

      .section {
        font-size: 24px;
        margin-top: 24px;
        color: var(--disabled-text-color);
      }

      .section:hover {
        cursor: pointer;
        color: var(--secondary-text-color)
      }

      .subsection {
        font-size: 18px;
        font-weight: lighter;
        color: var(--disabled-text-color);
        color: #d9d9d9;
      }

      .subsection iron-icon {
        margin-right: 8px;
      }

      .section > iron-icon {
        color: var(--accent-color);
      }

      .clickable:hover{
        color: grey;
        text-decoration: underline;
      }

      .container {
        /*width: 256px;*/
        min-height: 0;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }

      .form {
        width: 256px;
        /*min-height: 0;*/
      }

      .info {
        max-width: 512px;
      }

      iron-pages > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }

      iron-pages > div > * {
        margin-left: auto;
        margin-right: auto;
        min-width: 200px;
      }

      .title {
        padding: 30px 10px 0px;
        text-align: center;
        font-size: 20px;
      }

      paper-button {
        margin-top: 20px;
      }

      app-header {
        background-color: var(--dark-primary-color);
        color: var(--text-primary-color);
      }
    </style>

    <firebase-auth id="FBAuth" user="{{user}}" signed-in="{{signedIn}}" on-error="_handleEmailPWError">
    </firebase-auth>

    <firebase-query id="FBSave" path="/users/[[user.uid]]/preferences">
    </firebase-query>

    <!--<firebase-query
      id="FBQueryPosition"
      path="/positions"
      data="{{positions}}">
    </firebase-query>

    <firebase-query
      id="FBQueryAffiliation"
      path="/affiliations"
      data="{{affiliations}}">
    </firebase-query>-->

    <app-header-layout fullbleed="" has-scrolling-region="">
      <app-header slot="header" fixed="" condenses="" effects="waterfall">
        <app-toolbar>
          <div main-title="">Dline - Web Medical Tools</div>
        </app-toolbar>
      </app-header>
      <paper-contact-list style="width: 300px; position : absolute; bottom : 20px;">
            <paper-contact-email>maxime.gobeli@gmail.com</paper-contact-email>
        </paper-contact-list>

      <div class="content">
      <div class="container">

        <!--<div class="info">
    <div class = "card ">
      Dline offer you a <b> free </b> online database. All clinicals cases are well documented and all delineations are reviewed by an expert.
      We provide you bilbiographic data for each case. 

    </div>
    <div class = "card ">
      <b>Soon </b>we will give you the opportunity to make online delineations in order to compare your daily delineations practice with an expert.
      We want to create a community to discuss and comment contouring and delineation.

    </div>
    <div class = "card ">
      You want to help ? </br>
      Why not!, feel free to contact us.

      <div><iron-icon icon="icons:mail"></iron-icon>maxime.gobeli@gmail.com</div>

    </div>
        </div> -->
        
        <div class="card form">
            <svg version="1.1" id="Layer_1" x="0px" y="0px" width="256px" height="150px" viewBox="0 0 792 612" enable-background="new 0 0 792 612">
         <g>
           <polygon fill="#3E1213" points="136.771,278.849 136.771,242.9 172.722,242.9 	"></polygon>
           <polygon fill="#EE2B2E" points="172.722,242.9 172.722,278.849 136.771,278.849 	"></polygon>
           <polygon fill="#3E1213" points="172.722,242.9 172.722,206.94 208.675,206.94 	"></polygon>
           <polygon fill="#EE2B2E" points="208.675,206.94 208.675,242.9 172.722,242.9 	"></polygon>
           <polygon fill="#D42027" points="172.722,278.849 172.722,242.9 208.675,242.9 	"></polygon>
           <polygon fill="#EE2B2E" points="100.954,170.987 136.909,170.987 136.909,206.936 	"></polygon>
           <polygon fill="#D42027" points="136.909,206.936 100.954,206.936 100.954,170.987 	"></polygon>
           <polygon fill="#EE2B2E" points="136.771,135.042 172.722,135.042 172.722,170.991 	"></polygon>
           <polygon fill="#3E1213" points="172.722,170.991 136.771,170.991 136.771,135.042 	"></polygon>
           <polygon fill="#EE2B2E" points="172.722,170.991 208.675,170.991 208.675,206.94 	"></polygon>
           <polygon fill="#3E1213" points="208.675,206.94 172.722,206.94 172.722,170.991 	"></polygon>
           <polygon fill="#941A1D" points="100.954,242.9 136.909,242.9 136.909,278.849 	"></polygon>
           <polygon fill="#EE2B2E" points="136.909,278.849 100.954,278.849 100.954,242.9 	"></polygon>
           <polygon fill="#D42027" points="208.675,170.991 172.722,170.991 172.722,135.042 	"></polygon>
           <polygon fill="#D42027" points="100.954,242.896 100.954,206.936 136.909,206.936 	"></polygon>
           <polygon fill="#EE2B2E" points="136.909,206.936 136.909,242.896 100.954,242.896 	"></polygon>
           <polygon fill="#EE2B2E" points="100.954,170.991 100.954,135.042 136.909,135.042 	"></polygon>
           <polygon fill="#941A1D" points="136.909,135.042 136.909,170.991 100.954,170.991 	"></polygon>
           <g>
             <path d="M246.278,150.25v128.6h-15.541v-128.6H246.278z"></path>
             <path d="M294.47,162.646c0,1.514-0.306,2.925-0.917,4.234s-1.427,2.475-2.444,3.492c-1.02,1.019-2.198,1.82-3.536,2.401
               c-1.34,0.583-2.765,0.873-4.278,0.873s-2.925-0.291-4.234-0.873c-1.31-0.581-2.474-1.382-3.492-2.401
               c-1.019-1.018-1.819-2.183-2.4-3.492c-0.582-1.31-0.873-2.72-0.873-4.234c0-1.513,0.291-2.953,0.873-4.321
               c0.581-1.367,1.382-2.561,2.4-3.58c1.019-1.018,2.183-1.818,3.492-2.401c1.31-0.581,2.721-0.873,4.234-0.873
               s2.938,0.292,4.278,0.873c1.338,0.583,2.517,1.383,3.536,2.401c1.018,1.019,1.833,2.212,2.444,3.58
               C294.164,159.693,294.47,161.134,294.47,162.646z M290.978,190.41v88.439h-15.541V190.41H290.978z"></path>
             <path d="M318.39,278.849V190.41h9.255c2.211,0,3.608,1.078,4.19,3.23l1.223,9.604c3.841-4.249,8.133-7.683,12.877-10.302
               c4.743-2.619,10.229-3.929,16.457-3.929c4.83,0,9.094,0.801,12.79,2.401c3.695,1.602,6.78,3.871,9.254,6.81
               c2.474,2.94,4.351,6.476,5.632,10.607c1.279,4.134,1.921,8.702,1.921,13.707v56.312h-15.541v-56.312
               c0-6.692-1.527-11.887-4.583-15.584c-3.056-3.695-7.727-5.544-14.013-5.544c-4.599,0-8.892,1.106-12.877,3.317
               c-3.987,2.213-7.67,5.21-11.044,8.993v65.129H318.39z"></path>
             <path d="M450.482,189.013c5.295,0,10.185,0.888,14.667,2.663c4.481,1.776,8.352,4.337,11.611,7.683
               c3.259,3.347,5.806,7.479,7.64,12.397c1.833,4.919,2.75,10.521,2.75,16.807c0,2.444-0.262,4.074-0.786,4.889
               c-0.523,0.815-1.514,1.223-2.968,1.223h-58.844c0.116,5.587,0.873,10.447,2.27,14.579c1.397,4.134,3.318,7.582,5.763,10.346
               c2.444,2.766,5.354,4.832,8.73,6.199c3.375,1.368,7.159,2.052,11.35,2.052c3.898,0,7.26-0.45,10.083-1.354
               c2.823-0.901,5.252-1.877,7.29-2.925c2.037-1.048,3.739-2.021,5.107-2.925c1.367-0.901,2.546-1.354,3.536-1.354
               c1.279,0,2.27,0.495,2.969,1.484l4.365,5.675c-1.921,2.329-4.221,4.352-6.897,6.068c-2.678,1.717-5.544,3.129-8.6,4.233
               c-3.056,1.106-6.214,1.937-9.473,2.488c-3.26,0.553-6.49,0.83-9.69,0.83c-6.111,0-11.743-1.034-16.894-3.1
               c-5.151-2.065-9.604-5.093-13.357-9.08c-3.755-3.985-6.679-8.918-8.774-14.798c-2.096-5.878-3.143-12.629-3.143-20.255
               c0-6.168,0.945-11.931,2.837-17.286c1.891-5.354,4.612-9.996,8.163-13.925c3.55-3.929,7.886-7.013,13.009-9.254
               C438.316,190.134,444.079,189.013,450.482,189.013z M450.831,200.45c-7.508,0-13.416,2.169-17.723,6.504
               c-4.308,4.337-6.984,10.346-8.032,18.028h48.105c0-3.608-0.495-6.91-1.484-9.909c-0.99-2.997-2.444-5.587-4.365-7.77
               s-4.265-3.87-7.028-5.063C457.539,201.047,454.381,200.45,450.831,200.45z"></path>
             <path fill="#B2B3B3" d="M501.902,269.246c0-1.513,0.275-2.938,0.829-4.278c0.553-1.338,1.31-2.501,2.271-3.492
               c0.96-0.988,2.108-1.774,3.448-2.356c1.339-0.581,2.764-0.873,4.278-0.873c1.513,0,2.938,0.292,4.277,0.873
               c1.339,0.582,2.502,1.368,3.492,2.356c0.989,0.991,1.76,2.154,2.313,3.492c0.553,1.34,0.83,2.766,0.83,4.278
               c0,1.571-0.277,3.012-0.83,4.321c-0.554,1.31-1.324,2.46-2.313,3.449c-0.99,0.99-2.153,1.761-3.492,2.313
               c-1.339,0.552-2.765,0.829-4.277,0.829c-1.515,0-2.939-0.277-4.278-0.829c-1.34-0.553-2.488-1.323-3.448-2.313
               c-0.961-0.989-1.718-2.14-2.271-3.449C502.178,272.257,501.902,270.817,501.902,269.246z"></path>
             <path fill="#B2B3B3" d="M564.761,162.646c0,1.514-0.306,2.925-0.917,4.234s-1.427,2.475-2.444,3.492
               c-1.02,1.019-2.198,1.82-3.536,2.401c-1.34,0.583-2.765,0.873-4.278,0.873s-2.925-0.291-4.234-0.873
               c-1.31-0.581-2.474-1.382-3.492-2.401c-1.019-1.018-1.819-2.183-2.4-3.492c-0.582-1.31-0.873-2.72-0.873-4.234
               c0-1.513,0.291-2.953,0.873-4.321c0.581-1.367,1.382-2.561,2.4-3.58c1.019-1.018,2.183-1.818,3.492-2.401
               c1.31-0.581,2.721-0.873,4.234-0.873s2.938,0.292,4.278,0.873c1.338,0.583,2.517,1.383,3.536,2.401
               c1.018,1.019,1.833,2.212,2.444,3.58C564.455,159.693,564.761,161.134,564.761,162.646z M561.269,190.41v88.439h-15.541V190.41
               H561.269z"></path>
             <path fill="#B2B3B3" d="M624.476,189.013c6.461,0,12.295,1.078,17.505,3.23c5.208,2.154,9.632,5.21,13.271,9.167
               c3.637,3.959,6.431,8.746,8.381,14.362c1.949,5.617,2.925,11.888,2.925,18.813c0,6.984-0.976,13.271-2.925,18.858
               c-1.95,5.587-4.744,10.36-8.381,14.317c-3.639,3.959-8.063,7-13.271,9.124c-5.21,2.123-11.044,3.187-17.505,3.187
               c-6.46,0-12.296-1.063-17.504-3.187c-5.21-2.124-9.647-5.165-13.314-9.124c-3.667-3.957-6.49-8.73-8.469-14.317
               c-1.979-5.588-2.968-11.874-2.968-18.858c0-6.926,0.989-13.196,2.968-18.813c1.979-5.616,4.802-10.403,8.469-14.362
               c3.667-3.957,8.104-7.013,13.314-9.167C612.18,190.09,618.016,189.013,624.476,189.013z M624.476,267.936
               c8.73,0,15.249-2.925,19.557-8.774c4.307-5.849,6.461-14.012,6.461-24.488c0-10.534-2.154-18.741-6.461-24.62
               c-4.308-5.878-10.826-8.818-19.557-8.818c-4.424,0-8.265,0.756-11.523,2.27c-3.261,1.514-5.98,3.696-8.163,6.548
               c-2.183,2.853-3.813,6.359-4.89,10.521c-1.077,4.161-1.615,8.861-1.615,14.1s0.538,9.924,1.615,14.056
               c1.076,4.134,2.707,7.61,4.89,10.433c2.183,2.824,4.902,4.991,8.163,6.505C616.211,267.18,620.052,267.936,624.476,267.936z"></path>
           </g>
         </g>
         </svg>
         
        <paper-tabs selected="{{selected}}">
          <paper-tab>Sign up</paper-tab>
          <paper-tab>Sign in</paper-tab>
        </paper-tabs>

        <iron-pages selected="{{selected}}">
          <div>
            <div class="title">Create an account</div>
            <paper-input id="signupEmail" type="email" label="Email" value="{{email}}" validator="email-validator" error-message="Invalid email address" required="" auto-validate=""></paper-input>
            <paper-input id="signupPassword" type="password" value="{{password}}" minlength="6" char-counter="" label="Password" error-message="Must be at least 6 characters" required=""></paper-input>
            <paper-input id="signupPasswordConfirm" type="password" value="{{passwordMatch}}" label="Confirm Password" error-message="Do not match password" required=""></paper-input>


            <paper-button type="submit" on-tap="_signUp">Sign Up</paper-button>
              <paper-button id="btnLogin" on-tap="_signUpAnonymously">Login anonymously</paper-button>
            <p hidden$="[[!forgotPassword]]" class="message">Email already registered.</p>
          </div>
          <div>
            <div class="title">Log into your account</div>
            <paper-input id="signinEmail" type="email" label="Email" value="{{email}}" validator="email-validator" error-message="Invalid email address" required="" auto-validate=""></paper-input>
            <paper-input id="signinPassword" type="password" value="{{password}}" label="Password" on-keydown="_passwordKeyDown" error-message="Invalid password" required=""></paper-input>
            <paper-button on-tap="_signIn">Sign In</paper-button>
              <paper-button id="btnLogin" on-tap="_signUpAnonymously">Login anonymously</paper-button>
            <p hidden$="[[!forgotPassword]]"><a href="#" class="clickable message" on-click="_resetPassword">Incorrect password. Email new password?</a></p>
            <p hidden$="[[!forgotEmail]]"><a href="#" class="clickable message" on-click="_gotoSignUp">Unkown email. Create account?</a></p>
          </div>
        </iron-pages>
      </div>
    </div>

          </div>
    </app-header-layout>

  </template>

    <script>class MyLogin extends Polymer.Element {
  static get is() {
    return 'my-login';
  }

  static get properties() {
    return {
      user: {
        type: Object,
        value: {},
        observer: '_userChanged'
      },
      selected: {
        type: Number,
        value: 1
      },
      email: {
        type: String
      },
      password: {
        type: String,
        observer: '_passwordChanged'
      },
      passwordMatch: {
        type: String,
        observer: '_passwordMismatch'
      },
      forgotPassword: {
        type: Boolean,
        value: false
      },
      forgotEmail: {
        type: Boolean,
        value: false
      },
      signedIn: {
        type: Boolean,
        observer: '_signedInChanged'
      },
      positionItem: {
        type: Object,
        value: {},
        observer: '_positionItemChanged'
      },
      newPosition: {
        type: String
      },
      affiliationItem: {
        type: Object,
        value: {},
        observer: '_affiliationItemChanged'
      },
      newAffiliation: {
        type: String
      }
    };
  }

  _signIn(e) {
    // validate
    const validEmail = this.$.signinEmail.validate();
    const validPassword = this.$.signinPassword.validate();

    if (validEmail && validPassword) {
      this.$.FBAuth.signInWithEmailAndPassword(this.email, this.password);
    }
  }

  _signUpAnonymously(e) {
    firebase.auth().signInAnonymously();
    firebase.auth().onAuthStateChanged(firebaseUser => {
      console.log(firebaseUser);
    });
  }

  _signUp(e) {
    // validate
    const validEmail = this.$.signupEmail.validate();
    const validPassword = this.$.signupPassword.validate();
    const validPasswordConfirm = !this._passwordMismatch(this.passwordMatch); // const validTitle = this.$.signupTitle.validate();

    if (validEmail && validPassword && validPasswordConfirm) {
      // && validTitle
      // sign up and sign in!
      this.newAffiliation = this.title;
      this.newPosition = this.title;
      this.$.FBAuth.createUserWithEmailAndPassword(this.email, this.password);
    }
  }

  _handleEmailPWError(err) {
    if (err.detail.code === 'auth/wrong-password') {
      // sign in with wrong password
      this.$.signinPassword.invalid = true;
      this.forgotPassword = true;
      this.forgotEmail = false;
    } else if (err.detail.code === 'auth/user-not-found') {
      // sign in with wrong email
      this.$.signinEmail.invalid = true;
      this.forgotPassword = false;
      this.forgotEmail = true;
    } else if (err.detail.code === 'auth/email-already-in-use') {
      // sign up with wrong email
      this.newAffiliation = undefined;
      this.newPosition = undefined;
      this.$.signupPassword.invalid = true;
      this.forgotPassword = true;
      this.forgotEmail = false;
    } else {
      this.email = null;
      this.selected = 1;
      this.forgotPassword = false;
      this.forgotEmail = false;
    }

    this.password = undefined;
    this.passwordMatch = undefined;
  }

  _resetPassword() {
    const validEmail = this.$.signinEmail.validate();

    if (validEmail) {
      this.$.FBAuth.auth.sendPasswordResetEmail(this.email);
    }
  }

  _gotoSignUp() {
    this.selected = 0;
  }

  _passwordChanged(password) {
    this.$.signinPassword.validate();
    this.$.signupPassword.validate();
  }

  _passwordMismatch(passwordMatch) {
    let invalid = true;

    if (passwordMatch !== undefined && passwordMatch === this.password) {
      invalid = false;
    }

    this.$.signupPasswordConfirm.invalid = invalid;
    return invalid;
  }

  _signedInChanged(signedIn) {
    this.password = undefined;
    this.passwordMatch = undefined;
    this.affiliation = undefined;
    this.affiliationIndex = undefined;
    this.title = undefined;
    this.titleIndex = undefined;
    this.selected = 1;
    this.forgotPassword = false;
    this.forgotEmail = false;
  }

  _userChanged(user) {
    const afItem = this.affiliationItem.dbIndex;
    const poItem = this.positionItem.dbIndex;

    if (this.newPosition !== undefined && this.newAffiliation !== undefined && afItem !== undefined && poItem !== undefined) {
      this.$.FBSave.ref.push({
        affiliation: afItem,
        position: poItem
      });
      this.newAffiliation = undefined;
      this.newPosition = undefined;
    }
  }

  _passwordKeyDown(e) {
    if (e.keyCode === 13) {
      this._signIn();
    }
  }

  work() {
    this.$.work.toggle();
  }

  help() {
    this.$.help.toggle();
  }

  _positionItemChanged(positionItem) {
    if (positionItem === null) {
      return;
    }
  }

  _affiliationItemChanged(affiliationItem) {
    if (affiliationItem === null) {
      return;
    }
  }

}

window.customElements.define(MyLogin.is, MyLogin);</script>
</dom-module>